#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Reboot after installation
reboot
# Use network installation
url --url="http://nyx.bna.com/ks/dist/ks-rhel-x86_64-server-7-7.0"
# Use text mode install
text
# Firewall configuration
firewall --disabled
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$n9gAQ2mHjhXrAanH$KnfeUmDvSSUliPbDwX7c8ITF9sXKeoHBjC72mw.V1/EYvoOm6wMuYKCmzhXNnQn9EZJtrbmAafhTUlXTBy55J.
# SELinux configuration
selinux --disabled
# System services
services --enabled="network,ntpd,ntpdate"
# Do not configure the X Window System
skipx
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append="net.ifnames=0 nomodeset vga=normal vmwgfx.enable_fbdev=0" --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part /boot --fstype="xfs" --size=512 --fsoptions="relatime"
part pv.11 --fstype="lvmpv" --size=19967
volgroup vg0 --pesize=4096 pv.11
logvol /opt  --fstype="xfs" --size=1024 --fsoptions="relatime" --name=opt --vgname=vg0
logvol /home  --fstype="xfs" --size=1024 --fsoptions="relatime" --name=home --vgname=vg0
logvol /  --fstype="xfs" --size=4096 --fsoptions="relatime" --name=root --vgname=vg0
logvol swap  --fstype="swap" --size=1024 --name=swap --vgname=vg0
logvol /var  --fstype="xfs" --size=2048 --fsoptions="relatime" --name=var --vgname=vg0

%post
# Adjust local network settings
echo NOZEROCONF=yes >> /etc/sysconfig/network

%end

%packages --nobase
logrotate
logwatch
net-tools
ntp
ntpdate
openssh-clients
openssh-server
postfix
sudo
tmpwatch
wget
yum
yum-utils
-NetworkManager
-NetworkManager-config-server
-NetworkManager-tui
-Red_Hat_Enterprise_Linux-Release_Notes-7-en-US
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-biosdevname
-btrfs-progs
-dracut-config-rescue
-firewalld
-iprutils
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-kexec-tools
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-microcode_ctl
-policycoreutils
-selinux-policy-targeted

%end

